aiofiles==24.1.0
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
aiosqlite==0.21.0
amqp==5.3.1
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
astroid==3.3.8
asyncio==3.4.3
attrs==25.3.0
autobahn==24.4.2
Automat==24.8.1
beautifulsoup4==4.12.2
billiard==4.2.1
blinker==1.9.0
celery==5.4.0
certifi==2025.1.31
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
Crawl4AI==0.5.0.post4
cron-descriptor==1.4.5
cryptography==44.0.2
cssselect==1.2.0
daphne==4.1.2
dataclasses-json==0.6.7
defusedxml==0.7.1
dill==0.3.9
distro==1.9.0
dj-database-url==2.3.0
Django==5.1.7
django-celery-beat==2.7.0
django-cors-headers==4.3.0
django-extensions==4.1
django-storages==1.14.5
django-timezone-field==7.1
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
fake-http-header==0.3.5
fake-useragent==2.0.3
fastapi==0.115.11
faust-cchardet==2.1.19
filelock==3.17.0
Flask==3.1.0
flask-cors==5.0.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2025.3.0
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
humanize==4.12.1
hyperlink==21.0.0
idna==3.10
importlib_metadata==8.6.1
incremental==24.7.2
isort==6.0.1
itemadapter==0.11.0
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kombu==5.4.2
litellm==1.67.4
lxml==5.3.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mccabe==0.7.0
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multitasking==0.0.11
mypy-extensions==1.0.0
networkx==3.4.2
nltk==3.9.1
numpy==2.2.3
oauthlib==3.2.2
openai==1.76.0
orjson==3.10.15
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parsel==1.10.0
peewee==3.17.9
pillow==10.4.0
platformdirs==4.3.6
playwright==1.50.0
pluggy==1.5.0
praw==7.8.1
prawcore==2.4.0
prompt_toolkit==3.0.50
propcache==0.3.0
Protego==0.4.0
psutil==7.0.0
psycopg==3.2.6
psycopg-binary==3.2.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
PyDispatcher==2.0.7
pyee==12.1.1
Pygments==2.19.1
pylint==3.3.4
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
pyOpenSSL==25.0.0
pyperclip==1.9.0
PySocks==1.7.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
queuelib==1.7.0
rank-bm25==0.2.2
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.31.0
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.23.1
safetensors==0.5.3
Scrapy==2.12.0
selenium==4.29.0
service-identity==24.2.0
setuptools==78.1.0
six==1.17.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.38
sqlite-fts4==1.0.3
sqlite-utils==3.38
sqlparse==0.5.3
starlette==0.46.1
stripe==11.6.0
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tf-playwright-stealth==1.1.2
tiktoken==0.9.0
tldextract==5.1.3
tokenizers==0.21.1
tomlkit==0.13.2
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.2
tweepy==4.15.0
Twisted==24.11.0
txaio==23.1.1
typing-inspect==0.9.0
typing_extensions==4.13.0
tzdata==2025.2
update-checker==0.18.0
urllib3==2.3.0
uvicorn==0.34.0
vine==5.1.0
w3lib==2.3.1
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.1.3
whitenoise==6.9.0
wsproto==1.2.0
xxhash==3.5.0
yarl==1.18.3
yfinance==0.2.55
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
